<% repa.lunch.forEach(function(item) { %>
    <div class="col-lg-6">
        <div class="d-flex align-items-center">
            <img class="flex-shrink-0 img-fluid rounded" src="<%= item.image %>" alt="" style="width: 80px;">
            <div class="w-100 d-flex flex-column text-start ps-4">
                <h5 class="d-flex justify-content-between border-bottom pb-2">
                    <span><%= item.nom %></span>
                    <span class="text-primary"><%= item.prix %></span>
                </h5>
                <small class="fst-italic"><%= item.description %></small>
            </div>
        </div>
    </div>
    <% }); %>
    
    <% if (repa.length === 0) { %>
    <div class="col-lg-6">
        <p>Aucun repas existe</p>
    </div>
    <% } %>
    